.uppload-date{
    font-size: 15px;
    margin-top: 10px;
    right: 0px;
    text-align: right;
}
.post{
    position:relative;
}

.post a{
    font-size: 20px;
}

.search{
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    text-align: center;
}

.posts{
    padding-left: 20px;
    border-left: solid grey 1px;
}

.inputs input{
    width: 100%;
    padding: .6em .7em;
    max-width: 24.3076923rem !important;
}

.inputs{
    margin: 20px;
    position: relative;
}

.input button{
    align-items: center;
    text-align: center;
}

.center{
    max-width: 24.3076923rem !important;
    text-align: center;
    padding-top: 30px;
}

.c{
    max-width: 40rem !important;
    align-items: center;
}
.s{
    display: inline;
    align-items: center;
}
.c2{
    max-width: 40rem !important;
    text-align: center;
    padding-top: 30px;
}

.inputs2 input, textarea{
    width: 100%;
    padding: .6em .7em;
    /*max-width: 40 !important;*/
}

.inputs2{
    margin: 20px;
    position: relative;
}

.inputs3 input{
    width: 100%;
    padding: .6em .7em;
    max-width: 40 !important;
}

.inputs3{
    margin: 20px;
    text-align: center;
    align-items: center;
}

.vertical{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.vertical2{
    display: inline-block;
    width: 100px;
}

.vote {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url('http://i.stack.imgur.com/iqN2k.png');
    background-position: 0 -25px;
  } 
  
  
  .vote.on {
    background-position: 0 2px;
  }

  .vote2 {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url('http://i.stack.imgur.com/iqN2k.png');
    background-position: 0 2px;
  } 
  
  
  .vote2.on {
    background-position: 0 -25px;
  }